<div class="clear"></div>
<% if @movies.empty? %> 
  <%= render "movies/movie_billboard_no_matches" %>
<% else %>
  <%= render "movies/movie_billboard", movies: @movies %>
  <%= render "movies/movie_page_metadata", movies_metadata: @movies_metadata %>
<% end %>