<div class="clear"></div>
<header>
	<div class="title-header">
		<%= pluralize(@users.count, "User") %>
	</div>
</header>
<% @users.each do |user| %>
<article class="users">
	<div class="users-container">
		<%= link_to user.name, user_path(user.username), class: "users-name" %>
	</div>
</article>
<% end %>

<% if @users.empty? %>
	<div class="no-users"></div>
<% end %>