@import "colors", "borders";

.movie-billboard {
  position: relative;
  max-width: 800px;
  width: 100%;
  min-height: 750px;
  margin: 0 auto;
  border: 1.5px solid #FFFFFF;
  border-radius: $secondary-bg-radius;
  overflow: hidden;

  &.is-detailed {
    background-color: rgba(0,0,0,0.8);
  }
}

.movie-billboard__poster-image {
  width: 350px;
  height:550px;
  float: left;
  margin: 15px 0 0 20px;
  transition: 0.7s;
}

.movie-billboard__poster-image:hover {
  box-shadow: 0 0 10px 3px $secondary-color;
  transition: 0.7s;
}

.movie-billboard__more-info-btn {
  position: absolute;
  width: 45px;
  height: 50px;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 10px;
  transition: 0.7s;
}

.movie-billboard__more-info-btn:hover {
  box-shadow: 0 0 10px 3px $secondary-color;
  transition: 0.7s;
}

.movie-billboard.has-no-matches {
  margin: 25% auto;

  p {
    height: 750px;
    line-height: 750px;
    font-family: Arial, Verdana, Sans-serif;
    font-size: 30px;
    text-align: center;
    color: $primary-text-color;
    margin: 0;
  }
}