@import "colors", "borders";

.review-user-profile {
  text-align: center;
}

.review-user-profile__image {
  position: relative;
  top: 10px;
  border: 1px solid #787878;
}

.review-user-profile__link {
  position: relative;
  top: 15px;
  font-family: Verdana, Arial, Sans-serif;
  font-size: 16px;
  color: $tertiary-text-color;
  text-decoration: none;
}

.review-user-profile__link:hover {
  color: $secondary-text-color;
}