$primary-color: #2A71B2;
$secondary-color: #FFBF00;
$tertiary-color: #DDDDDD;
$quaternary-color: #222222;
$primary-text-color: #FFF;
$secondary-text-color: #FFBF00;
$tertiary-text-color: #2A71B2;
$quaternary-text-color: #FF0000;
$errors-text-color: #FF0000;
$errors-background-color: #FFC;
$flash-notice-color: #00B22D;
$flash-alert-color:  #FF0000;
$text-field-color: #333333;