$primary-color: #2971B2;
$secondary-color: #E1E1E1;
$tertiary-color: white;
$primary-text-color: #444;
$errors-text-color: #DC3D3D;
$errors-background-color: #FFC;
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;